# Dokploy & App Configuration
PORT=4000
NODE_ENV=production
DATABASE_URL=postgresql://genesis_user:genesis_pass@postgres:5432/genesis_db?schema=public
JWT_SECRET=genesis_super_secret_jwt_key_dokploy_2026

# Monitor DolarVzla API Key
DOLARVZLA_API_KEY=9e6461acff8c6e405a9db8688426e291cae064f0eb491cb549d1c97239324035

# Business Settings Defaults
BUSINESS_NAME=Cafetín Génesis
BUSINESS_RIF=J-12345678-9
BUSINESS_PHONE=584120000000
BUSINESS_ADDRESS=Plaza Bolívar, Local 4, Venezuela
VITE_API_URL=/api
